/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #000000;
    background-image: url(./plateado/platprodu.avif);
}
.logoo{
    height: 100px;
    width: 100px;
    }

header {
    background-image: url(./dorado/heade.jpg);
    background-size: 100%;
    color: #000000;
    padding: 20px 0;
}
li:hover{
    background-image: url(./dorado/heade.jpg);
    height: 25px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #000000; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#productos {
    background-image: url(./plateado/platprodu.avif);
    background-size: 99%;
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

#productos h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #000000;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product {
    background-image: url(./dorado/doradprodu.webp);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product h3 {
    color: #111111; 
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product p {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 10px;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color:rgb(77, 14, 14);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

footer p {
    margin-bottom: 10px;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

.social-media a:hover img {
    filter: brightness(0) invert(0.7);
}
